@media (min-width: 320px) and (max-width:767px) {
  #home-section {
    padding: 0 24px;
  }

  header .navbar {
    padding: 20px 20px;
  }

  header .navbar-nav {
    margin-top: 20px;
  }

  #home-section .nav-item .nav-link {
    text-align: left;
  }

  .mission-wrapper {
    margin-bottom: 30px;
  }

  h2,
  .h2 {
    font-size: 20px !important;
  }

  .mb-40 {
    margin-bottom: 20px;
  }

  #home-section .aboutus-wrapper {
    padding: 0 0 40px 0;
  }

  #home-section .products-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #home-section .product-content h3 {
    font-size: 24px;
  }

  #home-section .aboutus-wrapper h2 {
    margin-bottom: 40px;
  }

  .number-count h1 {
    font-size: 20px;
  }

  .industry-wrapper-content h1 {
    font-size: 20px;
  }

  #home-section .aboutus-wrapper p {
    font-size: 16px;
  }

  .certifications h2 {
    margin-bottom: 0px;
  }

  .carousel-inner .carousel-item img {
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }

  .number-count .count-wrapper {
    flex-direction: column;
  }

  #home-section .number-count {
    padding: 40px 0;
  }

  #home-section .number-count .number {
    font-size: 40px;
  }

  #home-section .number-count .count-detail {
    border: unset;
    border-bottom: 1px solid var(--gray);
    padding: 16px 0;
  }

  #home-section .number-count .count-detail h3 {
    font-size: 18px;
  }

  .industry-conatiner {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .certifications .certifications-wrapper {
    display: block;
    text-align: center;
  }

  .contact-us .d-flex {
    display: block !important;
  }

  footer .footer-links {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .contact-us {
    padding: 32px 16px;
  }

  .contact-us .contact-content h3 {
    font-size: 16px
  }

  .contact-us .btn-primary {
    font-size: 16px;
    height: 40px;
    margin-top: 20px;
  }

  .contact-us .contact-content h1 {
    font-size: 20px;
  }

  .industry-wrapper .industry-text .industry-content h3 {
    font-size: 18px;
  }

  #home-section .our-product-section {
    padding: 0 0 40px 0;
  }

  .approach-section .approach-content p {
    font-size: 20px;
  }

  .industry-section {
    padding: 40px 0;
  }

  footer .footer-links .product-links h3 {
    font-size: 20px;
  }

  footer .footer-links .product-links a {
    font-size: 18px
  }

  .industry-section .industry-wrapper {
    padding: 16px;
  }

  .approach-detail.mt-64 {
    margin-top: 24px;
  }

  footer {
    padding: 24px;
  }

  footer .copyright {
    font-size: 14px;
  }

  #about-section .about-us {
    height: 300px;
    margin-top: 100px;
  }

  #about-section {
    padding: 0 24px;
  }

  #about-section .aboutus-wrapper {
    padding: 40px 0;
  }

  .mission-content {
    display: block;
  }

  .mission-wrapper-section .mission-content .mission-data,
  .mission-wrapper-section .mission-content .mission-data h3 {
    width: 100%;
  }

  .mission-wrapper-section .mission-content .mission-data h3 {
    font-size: 24px;
  }

  .mission-content {
    padding: 40px 24px;
  }

  .carousel-caption h2 {
    margin-bottom: 30px;
  }

  .menu-spacer {
    margin-top: 100px;
  }

  #product-section {
    padding: 0 24px;
  }

  #product-section .product-section {
    height: 300px;
  }

  #product-section .product-list .product-detail h3 {
    font-size: 18px;
  }

  #product-section .product-list {
    padding: 40px 0;
  }

  #product-section .product-list h2 {
    margin-bottom: 20px;
  }

  .product-list .product-list-detail {
    flex-direction: column;
  }

  #product-detail {
    padding: 0 24px;
  }

  #product-detail .product-list .nav-pills {
    width: auto;
  }

  #product-detail .product-section {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  #home-section header .navbar {
    padding: 24px 0;
  }

  #home-section {
    padding: 0 32px;
  }

  header .navbar-nav {
    margin-top: 20px;
  }

  #home-section .nav-item .nav-link {
    text-align: left;
  }

  #home-section .aboutus-wrapper {
    padding: 0 40px 40px;
  }

  #home-section .number-count .count-detail {
    padding: 0 40px;
  }

  #home-section .products-wrapper {
    grid-template-columns: repeat(2, 325px);
  }

  #home-section .number-count .number {
    font-size: 50px;
  }

  #home-section .number-count h3 {
    font-size: 20px;
  }

  .industry-conatiner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .industry-wrapper .industry-text .industry-content h3 {
    font-size: 16px;
  }
}

@media (min-width: 820px) and (max-width:1024px) {
  .industry-conatiner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .industry-wrapper .industry-text .industry-content h3 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (max-width:1200px) {}

@media (min-width: 1201px) and (max-width:1366px) {

  header .nav-item .nav-link,
  header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
  }

  header .navbar-nav {
    gap: 30px;
  }

  #home-section .number-count .number {
    font-size: 65px;
  }

  #home-section .number-count .count-detail {
    padding: 0 65px;
  }

  #home-section .products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 325px);
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .industry-wrapper .industry-text .industry-content h3 {
    font-size: 20px;
  }

  .contact-us .contact-content h1 {
    margin-bottom: 16px;
    font-size: 35px;
  }

  .contact-us .contact-content h3 {
    font-size: 26px;
  }

  footer .footer-links .product-links a {
    color: var(--faint-green);
    font-size: 20px;
  }

  footer .product-quick-link {
    gap: 16px;
  }

  footer .footer-links .product-links h3 {
    font-size: 18px;
  }

  .mission-wrapper-section .mission-content .mission-data,
  .mission-wrapper-section .mission-content .mission-data h3 {
    width: 400px;
  }

  .contact-us .btn-primary {
    font-size: 32px;
  }

  #product-section .product-item h3 {
    font-size: 16px;
  }
}

@media (min-width: 1367px) and (max-width:1500px) {
  header .navbar-nav {
    gap: 24px;
  }

  #home-section .number-count .number {
    font-size: 80px;
  }

  #home-section .number-count .count-detail {
    padding: 0 76px;
  }

  #home-section .products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 325px);
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  footer .footer-links .product-links h3 {
    font-size: 22px;
  }

  .mission-wrapper-section .mission-content .mission-data,
  .mission-wrapper-section .mission-content .mission-data h3 {
    width: 450px;
  }

  #product-section .product-item h3 {
    font-size: 20px;
  }
}

@media (min-width: 1501px) and (max-width:1750px) {
  #home-section .products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 325px);
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
}