@media (min-width: 320px) and (max-width:767px) {
  #home-section {
    padding: 0 24px;
  }

  header .navbar {
    padding: 20px 20px;
  }

  header .navbar-nav {
    margin-top: 20px;
  }

  #home-section .nav-item .nav-link {
    text-align: left;
  }

  .mission-wrapper {
    /* margin-bottom: 30px; */
    grid-template-columns: 1fr;
  }

  .mission-wrapper img {
    Width: 100%;
    Height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }

  .contact-us .btn-primary {
    width: 60% !important;
  }

  .product-main {
    padding: 0px;
  }

  h2,
  .h2 {
    font-size: 24px !important;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mb-40 {
    margin-bottom: 20px;
  }

  #home-section .aboutus-wrapper {
    padding: 0 0 40px 0;
  }

  #home-section .products-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #home-section .product-content h3 {
    font-size: 24px;
  }

  #home-section .aboutus-wrapper h2 {
    margin-bottom: 40px;
  }

  .number-count h1 {
    font-size: 20px;
  }

  .industry-wrapper-content h1 {
    font-size: 20px;
  }

  #home-section .aboutus-wrapper p {
    font-size: 16px;
  }

  .certifications h2 {
    margin-bottom: 0px;
  }

  .carousel-inner .carousel-item img {
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }

  .number-count .count-wrapper {
    flex-direction: column;
  }

  #home-section .number-count {
    padding: 40px 0;
  }

  #home-section .number-count .number {
    font-size: 40px;
  }

  #home-section .number-count .count-detail {
    border: unset;
    border-bottom: 1px solid var(--gray);
    padding: 16px 0;
  }

  #home-section .number-count .count-detail h3 {
    font-size: 18px;
  }

  .industry-conatiner {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .certifications .certifications-wrapper {
    display: block;
    text-align: center;
  }

  .contact-us .d-flex {
    display: block !important;
  }

  footer .footer-links {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .contact-us {
    padding: 32px 16px;
  }

  .contact-us .contact-content h3 {
    font-size: 16px;
    text-align: center;
  }

  .contact-us .btn-primary {
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px auto 0;
  }

  .contact-us .contact-content h1 {
    font-size: 20px;
    text-align: center;
  }

  .industry-wrapper .industry-text .industry-content h3 {
    font-size: 18px;
  }

  #home-section .our-product-section {
    padding: 0 0 40px 0;
  }

  .approach-section .approach-content p {
    font-size: 20px;
  }

  .industry-section {
    padding: 40px 0;
  }

  footer .footer-links .product-links h3 {
    font-size: 20px;
  }

  footer .footer-links .product-links a {
    font-size: 18px
  }

  .industry-section .industry-wrapper {
    padding: 16px;
  }

  .approach-detail.mt-64 {
    margin-top: 24px;
  }

  footer {
    padding: 24px;
  }

  footer .copyright {
    font-size: 14px;
  }

  #about-section .about-us {
    height: 300px;
    margin-top: 100px;
  }

  #about-section {
    padding: 0 24px;
  }

  #capabilities-section {
    padding: 0 24px;
  }

  .manufacture-content p {
    font-size: 16px;
  }

  .manufacture-wrapper {
    grid-template-columns: 1fr;
    padding: 40px 24px;
  }

  #about-section .aboutus-wrapper {
    padding: 40px 0;
  }

  .legacy-section .legacy-wrapper {
    padding: 40px 0px;
  }

  .legacy-section .legacy-wrapper .legacy-content p {
    font-size: 16px;
  }

  #capabilities-section .product-section {
    height: 300px;
  }

  .capabilties-wrapper .capabilities-img img {
    height: 150px;
    width: 150px;
  }

  .capabilities-content h3 {
    font-size: 20px;
  }

  .capbilites-wrapper-content {
    gap: 10px;
  }

  .capabilities-content .size p {
    font-size: 16px;
  }

  .legacy-section .legacy-img img {
    height: 200px;
    width: 200px;
  }

  .mission-content {
    display: block;
  }

  .mission-wrapper-section .mission-content .mission-data,
  .mission-wrapper-section .mission-content .mission-data h3 {
    width: 100%;
  }

  .mission-wrapper-section .mission-content .mission-data h3 {
    font-size: 24px;
  }

  .legacy-wrapper h3 {
    font-size: 20px;
    font-weight: 700;
  }

  .mission-content {
    padding: 0 24px 40px;
  }

  .carousel-caption h2 {
    margin-bottom: 30px;
  }

  .menu-spacer {
    margin-top: 100px;
  }

  #product-section {
    padding: 0 24px;
  }

  #product-section .product-section {
    height: 300px;
  }

  #product-section .product-list .product-detail h3 {
    font-size: 18px;
  }

  #product-section .product-list {
    padding: 40px 0;
  }

  #product-section .product-list h2 {
    margin-bottom: 20px;
  }

  .product-list .product-list-detail {
    flex-direction: column;
  }

  #product-detail,
  #contact-section {
    padding: 0 24px;
  }

  #product-detail .product-list .nav-pills {
    width: auto;
  }

  #product-detail .product-section,
  #contact-section .product-section {
    height: 300px;
  }

  #product-detail .product-detail-wrapper {
    grid-template-columns: 1fr;
  }

  .contact-us-wrapper {
    padding: 40px 16px 40px;
  }

  #product-detail .techniqual-specifications li {
    font-size: 18px;
  }

  #product-detail .product-list .detail-section .product-description p {
    font-size: 18px;
  }

  #product-detail .product-list .nav-pills .nav-link {
    font-size: 18px;
    padding: 8px 16px;
  }

  .product-detail-wrapper .product-description {
    order: 1;
  }

  .product-list .product-list-detail {
    grid-template-columns: 1fr;
  }

  .expertise-section .experties-img img {
    width: 100%;
  }

  .expertise-section .experties-img {
    flex-direction: column;
  }

  .expertise-section .experties-img img {
    height: 200px;
  }

  .expertise-section {
    padding: 0 0 40px;
  }

  .expertise-section p {
    font-size: 16px;
  }

  .expertise-card-content p {
    font-size: 16px;
  }

  .expertise-card-content h3 {
    font-size: 20px;
  }

  .expertise-cards .cards-container {
    grid-template-columns: 1fr;
  }

  .mission-wrapper .mission-content {
    padding: 12px;
  }

  .mission-content-data {
    grid-template-columns: 1fr;
    padding: 0 24px 32px;
  }

  /* .mission-wrapper .maincontent p {
    font-size: 16px;
  } */

  .core-values-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .core-values {
    padding: 0 24px 40px;
    background-size: 22%;
  }

  .core-values-container p {
    height: auto;
  }

  .core-values-container h5 {
    height: auto;
  }

  .contact-us-wrapper .mission-data h1 {
    font-size: 18px;
  }

  .contact-us-wrapper .mission-wrapper .mission-content {
    padding: 16px;
  }

  .contact-us-wrapper .mission-wrapper .maincontent p {
    font-size: 16px;
  }

  .contact-us-wrapper .mission-content .contact-svg {
    height: 25px;
    width: 25px;
  }

  .contact-us-wrapper .mission-data h1 {
    margin-bottom: 0;
  }

  .contact-us-wrapper .mission-wrapper img {
    width: 100%;
    height: 100%;
  }

  .aboutus-wrapper p {
    margin-bottom: 0;
    font-size: 16px;
  }

  .legacy-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .legacy-grid .legacy-content {
    order: 1;
  }

  .expertise-section p.description {
    font-size: 16px;
  }

  .legacy-section .legacy-wrapper {
    padding: 0 0 40px;
  }

  .approach-section .approach-content .approach-detail img {
    height: 100px;
    width: 100px;
  }

  .mission-wrapper .maincontent p {
    font-size: 14px;
  }

  .mission-content .mission-data h1 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .mission-content .mission-data svg {
    height: 20px;
    width: 20px;
  }

  .contact-us-wrapper .mission-wrapper {
    margin-bottom: 30px;
    grid-template-columns: 1fr;
  }

  .contact-us-wrapper .mission-wrapper img {
    border-radius: 16px 16px 0 0;
  }

  .capabilities-container {
    padding: 0 24px;
  }

  #product-detail .product-list.our-product-section {
    background-size: 30%;
  }

  #product-detail .product-list.our-product-section {
    padding: 40px 0;
  }

  #product-section .product-list.our-product-section {
    background-size: 27%;
  }

  .contact-us-wrapper,
  .capabilties-wrapper {
    background-size: 25%;
  }

  .backward-wave {
    background-size: 100% 100%;
  }
}


@media (min-width: 768px) and (max-width:1023px) {
  #home-section header .navbar {
    padding: 24px 24px;
  }

  #home-section {
    padding: 0 32px;
  }

  header .navbar-nav {
    margin-top: 20px;
  }

  #home-section .nav-item .nav-link {
    text-align: left;
  }

  #home-section .aboutus-wrapper {
    padding: 0 40px 40px;
  }

  #home-section .number-count .count-detail {
    padding: 0 40px;
  }

  #home-section .products-wrapper {
    grid-template-columns: repeat(2, 325px);
  }

  #home-section .number-count .number {
    font-size: 50px;
  }

  #home-section .number-count h3 {
    font-size: 20px;
  }

  .industry-conatiner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .industry-wrapper .industry-text .industry-content h3 {
    font-size: 16px;
  }

  .approach-section .approach-content .approach-detail img {
    height: 100px;
    width: 100px;
  }

  .contact-us .contact-content h1 {
    font-size: 24px;
  }

  .contact-us .btn-primary {
    font-size: 24px;
    width: 50%;
  }

  .contact-us .d-flex {
    gap: 16px;
  }

  .legacy-section .legacy-wrapper {
    padding: 0 0px 40px;
  }

  .legacy-section .legacy-wrapper .legacy-content p {
    font-size: 16px;
  }

  .expertise-section .experties-img {
    flex-direction: column;
  }

  .product-detail .product-item .product-img img {
    object-fit: contain;
    height: 200px;
    width: 200px;
  }

  #product-section .product-item h3 {
    font-size: 18px;
  }

  #product-section .product-list .product-detail {
    height: 335px;
  }

  footer .footer-links {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  #product-detail .product-img img {
    object-fit: contain;
  }

  #product-detail .product-detail-wrapper {
    grid-template-columns: 1fr;
  }

  #product-detail .product-detail-wrapper .product-description {
    order: 1;
  }

  #product-detail .product-list .nav-pills {
    padding: 16px;
  }

  #product-detail .product-list .nav-pills .nav-link {
    font-size: 18px;
  }

  #product-detail {
    padding: 0 45px 0 30px;
  }

  .capabilties-wrapper .capabilities-img img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  .capabilities-content .size p {
    font-size: 16px;
  }

  .capbilites-wrapper-content {
    gap: 15px;
  }

  .contact-us-wrapper .mission-wrapper {
    grid-template-columns: 1fr;
  }

  .contact-us-wrapper .mission-wrapper img {
    border-radius: 16px 16px 0 0;
  }

  .contact-us.mission-wrapper .mission-content {
    padding: 20px
  }

  .contact-us-wrapper .mission-wrapper img {
    height: 200px;
  }

  .contact-us-wrapper .mission-wrapper .mission-content {
    height: 300px;
  }

  .contact-us-wrapper .mission-data h1 {
    font-size: 24px;
    margin-bottom: 0;
  }

  .core-values {
    padding: 40px 64px 60px;
  }

  .expertise-cards .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .expertise-section {
    padding: 0 0 80px;
  }

  .expertise-section .expertise-card-content h3 {
    font-size: 22px;
  }

  .expertise-card-content p {
    font-size: 16px;
  }

  .about-mission .mission-wrapper .maincontent p {
    font-size: 16px;
  }

  .core-values-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  #about-section .aboutus-wrapper {
    padding: 40px 0px 60px
  }

  .about-mission .mission-wrapper img,
  .about-mission .mission-img {
    border-radius: 16px 16px 0 0;
    height: 400px;
  }

  .about-mission .mission-title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .expertise-card-content {
    padding: 24px 20px 32px;
  }

  .expertise-card-content.about-mission {
    padding: 24px 18px 32px;
  }

  .about-mission .mission-wrapper {
    grid-template-columns: 1fr;
    justify-content: flex-start;
  }

  #product-detail,
  #contact-section {
    padding: 0 34px;
  }

  .capabilities-content h3 {
    font-size: 24px;
  }

  #product-detail .product-list.our-product-section {
    background-size: 20%;
  }
}

@media (min-width: 820px) and (max-width:1024px) {
  .industry-conatiner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .industry-wrapper .industry-text .industry-content h3 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (max-width:1200px) {
  .products-wrapper {
    grid-template-columns: repeat(3, 295px);
  }

  #home-section .number-count .number {
    font-size: 40px;
  }

  #home-section .number-count .count-detail {
    padding: 0 40px;
  }

  header .nav-item .nav-link,
  header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
  }

  header .navbar {
    padding: 48px 15px;
  }

  header .navbar-nav {
    gap: 25px;
  }

  #home-section .aboutus-wrapper p {
    font-size: 20px;
  }

  .expertise-section .experties-img {
    flex-direction: column;
  }

  .legacy-section .legacy-wrapper {
    padding: 0 50px 80px;
  }

  .legacy-section .legacy-wrapper .legacy-content p {
    font-size: 16px;
  }

  .expertise-cards .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .expertise-card-content p {
    font-size: 16px;
  }

  .expertise-card-content h3 {
    font-size: 24px;
  }

  .mission-wrapper .maincontent p {
    font-size: 16px;
  }

  .mission-wrapper .mission-content h1 {
    font-size: 24px;
  }

  .mission-wrapper .mission-img {
    /* width: 40%; */
  }

  .mission-content-data {
    padding: 0px 24px;
  }

  .mission-wrapper .mission-content {
    padding: 24px;
  }

  .mission-wrapper img {
    height: 100%;
  }

  .core-values-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-us .contact-content h1 {
    font-size: 24px;
  }

  .contact-us .btn-primary {
    font-size: 24px;
  }

  #product-section .product-item h3 {
    font-size: 18px;
  }

  .product-detail .product-item .product-img img {
    object-fit: contain;
  }

  .our-product-section .product-detail {
    padding: 20px;
    height: 335px;
  }

  footer .footer-links .product-links h3 {
    font-size: 18px;
  }

  footer .footer-links .product-links a {
    font-size: 16px;
  }

  footer .copyright {
    font-size: 16px;
  }

  #product-section .product-item h3 {
    font-size: 18px;
  }

  #product-section .product-list {
    padding: 40px 0;
  }

  .capabilties-wrapper .capabilities-img img {
    object-fit: contain;
  }

  .contact-us-wrapper .mission-wrapper .mission-content h1 {
    margin-bottom: 0;
  }

  #product-detail,
  #contact-section {
    padding: 0px 40px;
  }
}


@media (min-width: 1201px) and (max-width:1366px) {

  header .nav-item .nav-link,
  header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
  }

  header .navbar-nav {
    gap: 30px;
  }

  #home-section .number-count .number {
    font-size: 65px;
  }

  #home-section .number-count .count-detail {
    padding: 0 65px;
  }

  #home-section .products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 325px);
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .industry-wrapper .industry-text .industry-content h3 {
    font-size: 20px;
  }

  .contact-us .contact-content h1 {
    margin-bottom: 16px;
    font-size: 35px;
  }

  .contact-us .contact-content h3 {
    font-size: 26px;
  }

  footer .footer-links .product-links a {
    color: var(--faint-green);
    font-size: 20px;
  }

  footer .product-quick-link {
    gap: 16px;
  }

  footer .footer-links .product-links h3 {
    font-size: 18px;
  }

  .mission-content .mission-data h1 {
    font-size: 30px;
  }

  .contact-us .btn-primary {
    font-size: 32px;
  }

  #product-section .product-item h3 {
    font-size: 16px;
  }

  #product-detail .product-list .nav-pills .nav-link {
    font-size: 20px;
  }

  #product-detail .product-list .detail-section .product-description p {
    font-size: 18px;
  }

  #product-detail .techniqual-specifications li {
    font-size: 18px;
  }

  .expertise-section .experties-img img {
    width: 500px;
  }

  .expertise-card-content p {
    font-size: 16px;
  }

  .expertise-card-content h3 {
    font-size: 20px;
  }

  .mission-wrapper .mission-content {
    width: 100%;
  }

  .mission-wrapper .mission-img {
    width: 100%;
  }

  .mission-wrapper .maincontent p {
    font-size: 16px;
  }

  .mission-wrapper img {
    height: 100%;
  }

  .core-values-container p {
    font-size: 14px;
  }
}

@media (min-width: 1367px) and (max-width:1500px) {
  header .navbar-nav {
    gap: 24px;
  }

  #home-section .number-count .number {
    font-size: 80px;
  }

  #home-section .number-count .count-detail {
    padding: 0 76px;
  }

  #home-section .products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 325px);
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  footer .footer-links .product-links h3 {
    font-size: 22px;
  }

  #product-section .product-item h3 {
    font-size: 20px;
  }

  .expertise-section .experties-img img {
    width: 550px;
  }

  .expertise-card-content h3 {
    font-size: 24px;
  }

  .expertise-card-content p {
    font-size: 16px;
  }

  .mission-wrapper .mission-content {
    width: 55%;
  }

  .mission-wrapper .mission-content {
    width: 100%;
  }

  .mission-wrapper .mission-img {
    width: 100%;
  }

  .mission-wrapper .mission-title {
    font-size: 30px;
  }

  .mission-wrapper .maincontent p {
    font-size: 16px;
  }
}

@media (min-width: 1501px) and (max-width:1750px) {
  #home-section .products-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 325px);
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1500px) and (max-width:1920px) {

  #product-detail .container,
  #contact-section .container {
    max-width: 1460px;
  }
}