@import url(theme.css);

header .nav-item .nav-link,
header .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--gray);
}

header .navbar-nav {
  gap: 40px;
}

#home-section {
  padding: 0 64px;
}

header .nav-item .nav-link.active {
  color: var(--primary-color);
  font-weight: 700;
}

.aboutus-wrapper p {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}

#home-section .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: unset;
  height: unset;
  padding: 0;
  margin-right: 0px;
  margin-left: 0px;
  text-indent: -16px;
  cursor: pointer;
  background-color: unset;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /* opacity: .5; */
  transition: opacity .6s ease;
}

#home-section .carousel-indicators button.active svg {
  fill: var(--white);
}

#home-section .carousel-indicators button.active svg path {
  fill: var(--white);
}

.carousel-indicators {
  gap: 40px;
}

header .navbar {
  padding: 48px 64px;
}

#home-section .aboutus-wrapper {
  padding: 0 128px 80px;
}

#home-section .aboutus-wrapper h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

#home-section .aboutus-wrapper p {
  font-size: 24px;
}

.count-detail h3 {
  text-transform: capitalize;
}

.our-product-section .product-detail {
  border: 1.5px solid transparent;
  border-image-source: linear-gradient(105.61deg, rgba(255, 255, 255, 0.2) 0%, rgba(21, 30, 109, 0.3) 50%);
  border-image-slice: 1;
  border-radius: 16px;
  padding: 32px;
  background: linear-gradient(105.61deg, rgba(21, 30, 109, 0.03) 0%, rgba(21, 30, 109, 0.06) 100%);
  text-align: center;
  overflow: hidden;
  clip-path: inset(0 round 16px);
}


.product-detail .product-item .product-img img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.approach-detail p {
  font-weight: 500;
}

.our-product-section {
  padding: 0 0 80px 0;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 325px);
  gap: 40px;
  justify-content: center;
  align-items: center;
}

#home-section .our-product-section h2 {
  margin-bottom: 64px;
}

#home-section .product-content h3 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.carousel-text {
  margin-bottom: 30px;
}

#home-section .number-count {
  padding: 80px 0;
  text-align: center;
}

#home-section .number-count .number {
  font-size: 96px;
  background: -webkit-linear-gradient(180deg, #151E6D 0%, #293AD3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

#home-section .number-count .count-detail {
  padding: 0 120px;
  border-right: 1px solid var(--gray);
}

#home-section .number-count .count-detail:last-child {
  border: unset;
}

.approach-section .approach-content p {
  font-size: 24px;
  color: var(--text-black);
}

.approach-section .approach-content .approach-detail img {
  height: 128px;
  width: 128px;
  margin-bottom: 16px;
}

.approach-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.industry-section .industry-wrapper {
  background: linear-gradient(105.61deg, rgba(21, 30, 109, 0.03) 0%, rgba(21, 30, 109, 0.06) 100%);
  padding: 24px;
  border-radius: 16px;
}

.industry-section .industry-wrapper .serve-content img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.industry-conatiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.industry-section {
  padding: 80px 0;
}

.industry-wrapper-content h1 {
  margin-bottom: 40px;
}

.industry-wrapper .industry-text {
  gap: 16px;
}

.industry-wrapper .industry-text .industry-content h3 {
  font-size: 24px;
  color: var(--primary-color);
}

.certifications .certifications-wrapper {
  display: flex;
  gap: 128px;
  justify-content: center;
  align-items: center;
}

.certifications .certifications-wrapper img {
  height: 200px
}

.certifications h2 {
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-detail .product-item .product-content p {
  font-weight: 500;
}

.contact-us {
  padding: 64px;
}

.contact-us .btn-primary {
  background: var(--white-bg);
  font-size: 30px;
  padding: 16px 24px;
  border: 1px solid var(--white-bg);
  font-weight: bold;
  border-radius: 8px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us .contact-content {
  color: var(--white-bg);
}

.contact-us .contact-content h3 {
  text-align: start;
  font-size: 24px;
}

.contact-us .contact-content h1 {
  margin-bottom: 16px;
  font-size: 30px;
}

.certifications {
  padding-bottom: 80px;
}

.number-count h1 {
  font-weight: 400;
}

#about-section .aboutus-wrapper h3 {
  margin-bottom: 40px;
}

footer .footer-links .product-links h3 {
  font-weight: 600;
  color: var(--primary-color);
  text-transform: capitalize;
}

.industry-wrapper .industry-text .industry-content p {
  font-weight: 500;
}

/* About Us */
.about-us {
  background-image: url(./images/about-us.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  border-radius: 16px;
}

.about-us .about-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-section .aboutus-wrapper {
  padding: 80px 0;
}

#about-section .aboutus-wrapper h2 {
  margin-bottom: 40px;
}

#about-section {
  padding: 0 64px;
}

.mission-content {
  background: var(--secondary-color);
  padding: 32px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mission-wrapper-section .mission-content .mission-data,
.mission-wrapper-section .mission-content .mission-data h3 {
  text-align: left;
  width: 600px;
}

.mission-wrapper {
  gap: 24px;
}

.menu-spacer {
  margin-top: 160px;
}

header .dropdown-item {
  color: var(--green-clr);
  border-bottom: 1px solid #E8E8F0;
  font-weight: 500;
}

header .dropdown-menu li:last-child .dropdown-item {
  border-bottom: unset;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding: 8px;
}

/* Product Page */
#product-section {
  padding: 0 64px;
}

#product-section .product-section {
  background-image: url(./images/product-bg.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-section .product-list {
  padding: 80px 0;
}

#product-section .product-item h3 {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}

#product-section .product-list .product-detail {
  margin-bottom: 20px;
}

#product-section .product-list h2 {
  margin-bottom: 40px;
  text-transform: capitalize;
}

/* #product-section .tabs-text {} */

#product-detail .product-list .nav-pills {
  background: var(--secondary-color);
  padding: 32px;
  border-radius: 8px;
  width: 100vw;
}

#product-detail .product-list .nav-pills .nav-link {
  font-size: 24px;
  font-weight: 500;
  color: var(--green-clr);
  padding: 16px 16px;
  text-align: left;
}

#product-detail .product-list .nav-pills .nav-link.active {
  color: var(--text-black);
  background: unset;
  font-weight: 600;
}

#product-detail {
  padding: 0 64px;
}

#product-detail .product-section {
  background-image: url(./images/product-bg.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-detail .product-list {
  padding: 80px 0;
}

#product-detail .product-list .nav-pills h2 {
  padding: 0 16px;
}

#product-detail .detail-section .detail-title img {
  height: 32px;
  width: 32px;
}

#product-detail .detail-section .detail-title {
  display: flex;
  gap: 8px;
  align-items: center;

}

#product-detail .product-img img {
  height: 280px;
  width: 280px;
}

.product-list .product-list-detail {
  gap: 32px;
}

#product-detail .product-list .detail-section .product-description p {
  font-size: 20px;
  font-weight: normal;
}