@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --primary-color: #151E6D;
  --black-shade: #02030B;
  --background: #F1F1F1;
  --faint-green: #708E8C;
  --gray: #91A8A7;
  --footer-bg: #E8E8F0;
  --text-black: #1A1A1A;
  --white-bg: #FEFEFE;
  --secondary-color: #EBF4FD;
  --green-clr: #4f7471
    /* font-weight; */
}

a {
  text-decoration: unset;
}

p {
  margin-bottom: 0;
}

h1,
.h1 {}

h2,
.h2 {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.clr-primary {
  color: var(--primary-color);
}

.clr-black-shade {
  color: var(--black-shade);
}

.clr-faint-green {
  color: var(--green-clr);
}

.clr-text-black {
  color: var(--text-black);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-black-shade {
  background: var(--black-shade);
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-64 {
  margin-top: 64px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  right: 0;
}

footer {
  background: var(--footer-bg);
  padding: 64px;
}

footer .footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .footer-links .product-links a {
  color: var(--faint-green);
  font-size: 20px;
  font-weight: 500;
}

footer .product-quick-link {
  gap: 16px;
}

footer .footer-links .product-links h3 {
  font-size: 26px;
}

footer .border-line {
  border: 1px solid var(--faint-green);
  margin-top: 24px;
  margin-bottom: 24px;
}


footer .copyright {
  font-size: 20px;
  color: var(--faint-green);
  font-weight: 500;
}